{%  extends "::base.html.twig" %}

{% block title %} Pagina Principal {% endblock %}
{% block stylesheets %}
<link href="{{ asset('css/foundation.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block body %}
<div id="menu">

	<div id="logo-principal"></div>
	<div id="contenedor-general-primero" class="contenedor-general">
		<div class="logo-interior"></div>
		<p class="texto">Inicio</p>
	</div>
	
	<div class="contenedor-general">
		<div class="logo-interior"></div>
		<p class="texto">Proyectos</p>
	</div>
	
	<div class="contenedor-general">
		<div class="logo-interior"></div>
		<p class="texto">Semilleros</p>
	</div>
	
	<div class="contenedor-general">
		<div class="logo-interior"></div>
		<p class="texto">Grupos</p>
	</div>
	
	<div class="contenedor-general">
		<div class="logo-interior"></div>
		<p class="texto">Investigadores</p>
	</div>
</div>
{%  endblock %}