{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Editar Convocatoria</h1>

    {{ form(edit_form) }}
	
	
    
        <ul class="record_actions">
    <li>
       
	
	<button type="button" onClick=" window.location.href='{{ path('convocatoria') }}' "> Regresar a 
	convocatorias</button>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
