{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Lista de evaluadores</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Area</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.correo }}</td>
                <td>{{ entity.area }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
 	<br>
    <br>
    <div class="botoncrear">
		<button type="button" onClick=" window.location.href='{{ path('evaluador_new') }}' "> Crear Evaluador</button>
	</div>
       
           
       
    {% endblock %}
